body {
    background-color: beige;
    color: black;
     font-family:Arial;
      font-family: "Nunito", sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
}
.contenido {
    max-width: 600px;
    margin: 50px auto;
}

h1 {
    color: darkgreen;
}
a{
    color: darkgreen;
    text-decoration: none;
}